#Main key bindings for OpenRR

unbind all

bind KEY_A moveMapLeft
bind KEY_D moveMapRight
bind KEY_W moveMapUp
bind KEY_S moveMapDown

bind MOUSE_X rotateMap
bind MOUSE_Y tiltMap
bind MOUSE_RIGHT_BUTTON enableMapRotation
bind MOUSE_WHEEL zoomMap

bind MOUSE_LEFT_BUTTON select

bind JOY_LEFT_STICK_X_AXIS moveMapRight
bind JOY_LEFT_STICK_Y_AXIS moveMapUp
bind JOY_RIGHT_STICK_X_AXIS rotateMap
bind JOY_RIGHT_STICK_Y_AXIS tiltMap